@use "@/shared/styles/variables" as *;

.auth-page {
  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__logo {
    margin: 0 0 30px 0;
    border: none;
  }

  &__logo:focus-visible {
    outline: none;
  }

  &__logo-img {
    width: 176px;
    height: 55px;
  }

  &__title {
    font-family: inherit;
    text-align: center;
    padding: 0;
    margin: 0 auto 12px;
    font-size: 36px;
    line-height: 40px;
    color: $color-black-russian;
  }

  &__text {
    font-family: inherit;
    text-align: center;
    padding: 0;
    margin: 0 auto 50px;
    font-size: 18px;
    line-height: 28px;
    color: $color-raven;
  }
}
