.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.auth-form__input-container {
  position: relative;
  width: 100%;
}

.auth-form__field {
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 14px 16px;
  background-color: #f9fafb;
  color: #010316;
  height: 42px;
  width: 100%;
  transition: border 0.3s ease-in;
}

.auth-form__label {
  position: absolute;
  left: 0;
  top: -23px;
  font-family: inherit;
  color: #010316;
  font-size: 16px;
  font-weight: 500;
}

.auth-form__error,
.auth-form__error--api {
  color: red;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}

.auth-form__error--api {
  bottom: 125px;
}

.auth-form__toggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: color 0.3s ease-in;
  color: #667085;
  position: absolute;
  transform: translate3d(50%, -50%, 0);
  top: 50%;
  right: 20px;
}

.auth-form__toggle:hover,
.auth-form__toggle:focus-visible {
  color: #282458;
  outline: none;
}