@use "@/shared/styles/variables" as *;

.confirm-modal {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 15px;
    padding: 0;
  }

  &__message {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 25px;
    padding: 0;
  }

  &__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
}
