@use "@/shared/styles/variables" as *;

.dropdown {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__btn {
    width: 100%;
    border: none;
    outline: unset;
    background-color: $color-black-russian;
    color: $color-white;
    height: 30px;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: color $transition-300;
    z-index: 1;
  }

  &__btn:hover {
    color: $color-colombia-blue;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 32px;
    left: -11px;
    width: calc(100% + 11px);
    z-index: 1000;
    background-color: $color-black-russian;
    transform-origin: top;
    animation-fill-mode: forwards;
  }

  &__list.open {
    animation: dropdown-open $transition-300 forwards;
  }

  &__list.closing {
    animation: dropdown-close $transition-300 forwards;
  }

  &__item {
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    color: $color-white;
    padding: 4px 10px;
    background-color: transparent;
    transition: background-color $transition-300;
  }

  &__item:hover {
    background-color: $color-blue-zodiac;
  }

  &__arrow-icon {
    transition: transform 0.25s ease-out;
    transform: scaleY(1);
  }

  &__arrow-icon.open {
    transform: scaleY(-1);
  }

  @keyframes dropdown-open {
    from {
      transform: scaleY(0);
      opacity: 0;
    }
    to {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  @keyframes dropdown-close {
    from {
      transform: scaleY(1);
      opacity: 1;
    }
    to {
      transform: scaleY(0);
      opacity: 0;
    }
  }
}
