@use "@/shared/styles/variables" as *;

.datepicker {
  &__calendar-icon {
    position: absolute;
    left: 8px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10;
    top: 50%;
    left: 26px;
    display: flex;
    align-items: center;
  }

  &__clear-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    top: 50%;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__clear-icon.visible {
    opacity: 1;
  }
}
