@use "@/shared/styles/variables" as *;

.section-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 40px;

  &__top {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0;
  }

  &__title {
    margin: 0 0 12px;
    padding: 0;
    color: $color-paua;
    font-family: inherit;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: $color-east-bay;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
  }
}
