.sidebar {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 40px;
  background-color: #edeff2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 0 4px rgba(207, 208, 210, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar__logo {
  margin: 0 0 30px 0;
  border: none;
}

.sidebar__logo:focus-visible {
  outline: none;
}

.sidebar__logo-img {
  width: 176px;
  height: 55px;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar__item--active {
  flex-direction: column;
  gap: 12px;
}

.sidebar__link {
  display: flex;
  padding: 0;
  justify-content: space-between;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar__link-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
  color: #010316;
  transition: color 0.3s ease-in;
}

.sidebar__link-wrap:hover,
.sidebar__link-wrap:focus-visible {
  color: #414856;
}

.sidebar__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-family: inherit;
  transition: color ease-out 0.3s;
}

.sidebar__arrow-icon {
  color: #010316;
  transition: scale 0.2s ease-in;
}

.sidebar__arrow-icon--active {
  transform: scaleY(-1);
}

.sidebar__sublist {
  list-style: none;
  margin: 0;
  padding: 0 0 0 42px;
}

.sidebar__subitem-text {
  color: #667085;
  font-family: inherit;
  font-size: 14;
  transition:
    font-weight ease-out 0.3s,
    color ease-out 0.3s;
}

.sidebar__subitem-text:hover {
  font-weight: 700;
  color: #414856;
}

.sidebar__subitem-text--active {
  font-weight: 700;
}

.sidebar__notifications-number {
  color: #fff;
  background-color: #010316;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px;
  width: 28px;
  height: 28px;
  text-align: center;
}
