@use "@/shared/styles/variables" as *;

.sidebar {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 40px;
  background-color: $color-solitude;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 0 4px $color-link-water;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__logo {
    margin: 0 0 30px 0;
    border: none;
  }

  &__logo:focus-visible {
    outline: none;
  }

  &__logo-img {
    width: 176px;
    height: 55px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item--active {
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    display: flex;
    padding: 0;
    justify-content: space-between;
    border-radius: 6px;
    cursor: pointer;
  }

  &__link-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    color: $color-black-russian;
    transition: color $transition-300;
  }

  &__link-wrap:hover,
  &__link-wrap:focus-visible {
    color: $color-blue-zodiac;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.5px;
    font-weight: 700;
    font-family: inherit;
    transition: color $transition-300;
  }

  &__arrow-icon {
    color: $color-black-russian;
    transition: scale 0.2s ease-in;
  }

  &__arrow-icon--active {
    transform: scaleY(-1);
  }

  &__sublist {
    list-style: none;
    margin: 0;
    padding: 0 0 0 42px;
  }

  &__subitem-text {
    color: $color-raven;
    font-family: inherit;
    font-size: 16px;
    transition:
      font-weight $transition-300,
      color $transition-300;
  }

  &__subitem-text:hover {
    font-weight: 700;
    color: $color-blue-zodiac;
  }

  &__subitem-text--active {
    font-weight: 700;
  }

  &__notifications-number {
    color: $color-white;
    background-color: $color-black-russian;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
    width: 28px;
    height: 28px;
    text-align: center;
  }
}
