@use "@/shared/styles/variables" as *;

.widget-card {
  width: 300px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  border: 1px solid $color-quartz;
  border-radius: 10px;
  box-shadow: 2px 2px 4px $color-link-water;
  position: relative;

  &__left {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__icon {
    margin: 0 0 16px;
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  &__title {
    color: $color-grey-suit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 4px;
  }

  &__amount {
    color: $color-paua;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__menu-btn {
    border: unset;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  &__change {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 0;
  }

  &__menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 130px;
    right: 10px;
    top: 45px;
    align-items: center;
    background-color: $color-white;
    padding: 10px;
    border: 1px solid $color-quartz;
    box-shadow: 2px 2px 2px rgba(207, 208, 210, 1);
    border-radius: 4px;

    opacity: 0;
    transform: translateY(-6px) scale(0.99);
    pointer-events: none;
    transition:
      opacity 0.3s cubic-bezier(0.2, 0.9, 0.2, 1),
      transform 0.3s cubic-bezier(0.2, 0.9, 0.2, 1);
    z-index: 100;
    will-change: opacity, transform;
    transform-origin: top right;
  }

  &__menu-dropdown.open {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }

  &__menu-dropdown-btn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    color: $color-blue-zodiac;
    font-weight: 500;
    cursor: pointer;
    padding: 4px;
    transition: color 0.3s ease-in;
  }

  &__menu-dropdown-btn:hover {
    color: $color-black-pearl;
  }
}
