.auth-page__wrap {
  position: absolute;
  width: 450px;
  margin: 0;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #d7d6f7;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(207, 208, 210, 1);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
