.transactions-search__field {
  border: 1px solid #f3f3fc;
  background-color: #f3f3fc;
  border-radius: 8px;
  color: #667085;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 40px 10px 16px;
  width: 300px;
  transition: border 0.3s ease-in;
}

.transactions-search__field:hover {
  border: 1px solid #010316;
}

.transactions-search__icon {
  color: #8C89B4;
  left: 250px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
