@use "@/shared/styles/variables" as *;

.profile {
  &__banner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 auto 40px;
    position: relative;
  }

  &__banner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__banner-img {
    width: 100%;
  }

  &__user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: absolute;
    transform: translate3d(-50%, 50%, 0);
    top: 50%;
    left: 50%;
  }

  &__avatar {
    width: 180px;
    height: 180px;
    border: 10px solid $color-white;
    border-radius: 50%;
  }

  &__edit-btn {
    cursor: pointer;
    color: $color-raven;
    transition: color $transition-300;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: $color-white;
    padding: 4px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 3px $color-link-water;
    bottom: 40px;
    right: 20px;
  }

  &__edit-btn:hover,
  &__edit-btn:focus-visible {
    color: $color-paua;
    outline: none;
  }

  &__edit-icon {
    width: 20px;
    height: 19px;
  }

  &__user-name {
    font-family: inherit;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
    color: $color-paua;
    font-weight: 700;
    pointer-events: none;
  }
}
