@use "@/shared/styles/variables" as *;
.profile-form {
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 540px;
    padding: 30px 80px;
    margin: 0 auto;
    background-color: $color-white;
    border: 1px solid $color-quartz;
    border-radius: 8px;
    box-shadow: 2px 2px 4px $color-link-water;
  }
  &__item {
    width: 100%;
  }
}
