.category-row {
  display: grid;
  grid-template-columns: 290px 1fr 290px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(124, 149, 212, 0.4);
  width: 800px;
  margin: 0 0 12px;
  padding: 14px 30px;
  align-items: center;
}

.category-row__cell {
 font-family: inherit;
 font-size: 16px;
 color: #282458;
}

.category-row__cell--btns {
    display: flex;
    gap: 15px;
}
