@use "@/shared/styles/variables" as *;

.categories-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border: 1px solid $color-quartz;
  border-radius: 8px;
  padding: 30px;
  margin: 0 auto 40px;
}
