$color-white:                         #ffffff;
$color-black:                         #000000;
$color-black-25:                      rgba(0, 0, 0, 0.25);
$color-black-70:                      rgba(0, 0, 0, 0.7);
$color-black-russian:                 #010316;
$color-black-pearl:                   #010C13;
$color-paua:                          #282458;
$color-raven:                         #667085;
$color-solitude:                      #EDEFF2;
$color-alice-blue:                    #FBFCFE;
$color-pacific-blue:                  #0097D8;
$color-east-bay:                      #344054;
$color-grey-suit:                     #8C89B4;
$color-pigment-green:                 #02B15A;
$color-malachite:                     #00C853;
$color-malachite-15:                  rgba(0, 200, 83, 0.15);
$color-red:                           #F50909;
$color-red-20:                        rgba(245, 9, 9, 0.2);
$color-free-speech-red:               #CF0F0F;
$color-red-orange:                    #F44336;
$color-red-orange-15:                 rgba(244, 67, 54, 0.15);
$color-han-purple:                    #6B3AF1;
$color-maya-blue:                     #5AC8FA;
$color-colombia-blue:                 #A4DCF7;
$color-ghost-white:                   #F3F3FC;
$color-dark-gray:                     #AAAAAA;
$color-blue-zodiac:                   #414856;
$color-link-water:                    #D0D5DD;
$color-quartz:                        #D7D6F7;
$color-portage-40:                    rgba(124, 149, 212, 0.4);
$color-dodger-blue-20:                rgba(33, 124, 255, 0.2);
$color-dark-tangerine-20:             rgba(255, 171, 33, 0.2);
$color-manatee:                       #8A8B8F;


// Typography
$ff-main: "Manrope", "Arial", sans-serif;
$ff-second: "Allura", "Brush Script MT", cursive;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;