.add-edit-transaction-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto 25px;
  padding: 0;
  width: 400px;
}

.add-edit-transaction-form__description,
.add-edit-transaction-form__amount,
.add-edit-transaction-form__select,
.add-edit-transaction-form__dropdown-wrapper {
  position: relative;
}

.add-edit-transaction-form__datepicker-wrap {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.add-edit-transaction-form__datepicker-wrap .react-datepicker-wrapper,
.add-edit-transaction-form__datepicker-wrap .react-datepicker__input-container {
  width: 100%;
}

.add-edit-transaction-form__datepicker-label,
.add-edit-transaction-form__amount-label {
  position: absolute;
  left: 0;
  top: -22px;
  font-family: inherit;
  color: #010316;
  font-size: 16px;
  font-weight: 500;
}

.add-edit-transaction-form__datepicker-input {
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 12px 40px 12px 16px; 
  background-color: #f9fafb;
  color: #333;
  transition: border 0.3s ease-in, color 0.3s ease-in;
}

.add-edit-transaction-form__datepicker-input:hover {
  border: 1px solid #010316;
  color: #36373f;
}

.add-edit-transaction-form__datepicker-calendar-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  color: #36373f;
}

.add-edit-transaction-form__dropdown-btn {
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 12px 16px;
  background-color: #f9fafb;
  color: #010316;
  height: 42px;
  transition:
    border 0.3s ease-in,
    color 0.3s ease-in;
}

.add-edit-transaction-form__dropdown-btn:hover {
  border: 1px solid #010316;
  color: #36373f;
}

.add-edit-transaction-form__dropdown-label {
  position: absolute;
  left: 0;
  top: -23px;
  font-family: inherit;
  color: #010316;
  font-size: 16px;
  font-weight: 500;
}

.add-edit-transaction-form__dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f9fafb;
}

.add-edit-transaction-form__dropdown-item {
  color: #1f2b3a;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.add-edit-transaction-form__dropdown-item:hover {
  color: #fff;
  background-color: #8a8b8f;
}

.add-edit-transaction-form__amount-field {
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 12px 16px;
  background-color: #f9fafb;
  color: #010316;
  height: 42px;
  width: 100%;
  transition: border 0.3s ease-in;
}

.add-edit-transaction-form__amount-field:hover {
  border: 1px solid #010316;
}

.add-edit-transaction-form__form-error {
  color: red;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}


