.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.auth-form__input-container {
  position: relative;
  width: 100%;
}

.auth-form__field {
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 14px 16px;
  background-color: #f9fafb;
  color: #010316;
  height: 42px;
  width: 100%;
  transition: border 0.3s ease-in;
}

.auth-form__label {
  position: absolute;
  left: 0;
  top: -23px;
  font-family: inherit;
  color: #010316;
  font-size: 16px;
  font-weight: 500;
}

.auth-form__error,
.auth-form__error--api {
  color: red;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}
