.analytics {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  margin: 0 auto 40px;
  background-color: #fff;
  border: 1px solid #d7d6f7;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(207, 208, 210, 1);
}

.analytics__chart {
  width: 100%;
  height: 400px;
}

.analytics__header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: #282458;
  font-weight: 700;
  font-family: inherit;
}

.analytics__header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.analytics__dropdown-wrapper {
  width: 100px;
}

.analytics__dropdown-btn {
  background-color: #fff;
  color: #282458;
    border: 1px solid #d7d6f7;
  border-radius: 8px;
  padding: 18px 8px;
  height: 40px;
    transition:
    border 0.3s ease-in,
    color 0.3s ease-in;
}

.analytics__dropdown-btn:hover {
  border: 1px solid #010316;
  color: #36373f;
}

.analytics__dropdown-list{
  width: 100%;
  background-color: #f9fafb;
    top: 100%;
  left: 0;
  right: 0;
}

.analytics__dropdown-item {
  color: #1f2b3a;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.analytics__dropdown-item:hover {
  color: #fff;
  background-color: #8a8b8f;
}


