@use "@/shared/styles/variables" as *;

.recent-transactions-table {
  &__header {
    display: grid;
    grid-template-columns: 170px 270px 260px 1fr;
    background-color: $color-ghost-white;
    color: $color-paua;
    margin: 0 0 12px;
    padding: 17px 13px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 900px;
  }

  &__cell-name {
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
  }

  &__cell-name:nth-child(n + 2)::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 25px;
    background-color: $color-grey-suit;
  }
}
