@use "@/shared/styles/variables" as *;

.recent-transactions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  margin: 0 auto 40px;
  background-color: $color-white;
  border: 1px solid $color-quartz;
  border-radius: 8px;
  box-shadow: 2px 2px 4px $color-link-water;

  &__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
    color: $color-paua;
    font-weight: 700;
    font-family: inherit;
  }
}
