.overview__welcome {
    margin: 0 0 40px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.overview__title {
    margin: 0 0 12px;
    padding: 0;
    color: #282458;
    font-family: inherit;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

.overview__text {
    margin: 0;
    padding: 0;
    color: #475467;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
