.transactions-table__header {
  display: grid;
  grid-template-columns: 110px 150px 145px 110px 125px 1fr;
  background-color: #000;
  color: #fff;
  margin: 0 0 12px;
  padding: 17px 13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 900px;
}

.transactions-table__cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 0 2px 0 0;
}

.transactions-table__cell:not(:first-child) {
  padding: 0 2px 0 15px;
}

.transactions-table__cell:nth-child(n + 2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 25px;
  background-color: #fff;
}

.transactions-table__cell-name {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
}

.transactions-table__btn {
  display: flex;
  background-color: transparent;
  border: unset;
  padding: 0;
  margin: 0;
  align-items: center;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease-out;
}

.transactions-table__btn:hover {
  color: #a4dcf7;
}

.transactions-table__select {
  display: flex;
  appearance: none; /* Убираем стандартный стиль браузера */
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  width: 130px;
  height: 30px;
}

.transactions-table__select option[disabled] {
  font-weight: bold;
  color: #555;
}

.transactions-table__select option {
  padding: 4px;
  font-weight: normal;
  color: #000;
  font-size: 13px;
}

.transactions-table__icon {
  transition: transform 0.2s ease;
}

.transactions-table__icon.asc {
  transform: scaleY(-1); /* зеркально отражаем иконку по вертикали */
}

.transactions-table__icon.desc {
  transform: scaleY(1); /* стандартное положение */
}
