.transaction-row {
  display: grid;
  grid-template-columns: 110px 150px 145px 110px 125px 1fr;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(124, 149, 212, 0.4);
  width: 900px;
  margin: 0 0 12px;
  padding: 17px 13px;
  align-items: center;
}

.transaction-row__cell {
  font-family: inherit;
  font-size: 14px;
  color: #282458;
  padding: 0;
}

.transaction-row__cell:not(:first-child) {
  padding: 0 0 0 11px;
}

.transaction-row__cell--btns {
  display: flex;
  gap: 10px;
}

.transaction-row__deleted {
  color: #aaa; /* бледный серый */
  font-style: italic; /* по желанию */
}
